* {
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 10px;
}

header {
  margin: auto;
  max-width: 1200px;
}

.log-in-button {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

main {
  display: flex;
  max-width: 120rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
}
.img-logo {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  margin-top: 15rem;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.log-in-button {
  width: 9.8rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: solid 0.1rem black;
}

.create-an-account {
  max-width: 53.4rem;
  margin-bottom: 4rem;
}

.create-an-account a {
  color: #111111;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1210px){
  .download-buttons {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1500px){
  main {
    margin: auto;
    max-width: 120rem;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.8rem;
}

label {
  display: block;
  color: #666666;
  margin-top: 2.4rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.input-field {
  border: solid 0.1rem #66666659;
  border-radius: 1.2rem;
  width: 53.4rem;
  height: 5.6rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  order: 1;
}

.checkbox-container label {
  order: 2;
  margin-left: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;

}

.checkbox-container label a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #111111;
}

span {
  color: #333333;
}

.create-account-button {
  width: 53.4rem;
  height: 6.4rem;
  padding: 1.5rem;
  border-radius: 4rem;
  opacity: 25%;
  background-color: #111111;
  color: white;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;

  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.3rem;
  text-align: center;
}


.create-account-button:hover, .continue-with-google-button:hover {
  cursor: pointer;
}

.continue-with-google-button {
  width: 53.4rem;
  height: 6.4rem;
  padding: 1.5rem;
  border-radius: 4rem;
  background-color: white;
  color: #333333;
  margin-top: 2.4rem 0 2.4rem 0;
  
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.3rem;
  text-align: center;
  
  align-items: center;
}
footer {
  margin: auto;
  max-width: 120rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

footer h2 {
  color: #333333;
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-bottom: 0.8rem;
}

footer ul li a {
  text-decoration: none;
  color: #666666;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer-bottom-links {
  display: flex;
}
.footer-bottom-links ul {
  display: flex;
  gap: 2.4rem;
}

.social-media-links ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.6rem;
}
select {
  border: none;
}